@css:registry=https://sfera.inno.local/app/repo-ci-npm/api/repository/cssc-npm-lib
registry=https://sfera.inno.local/app/repo-ci-npm/api/repository/cssc-npm
_auth=$CI_CREDS_BASE64
strict-ssl=false

# git-tag-version = false
tag-version-prefix = ""
message = "⬆️ Bump version to %s"
commit-hooks = false
